<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <!--<script src="/js/game_usr/game_usr.js" charset="utf-8"></script>-->
    <script src="/library/snap.svg-min.js" charset="UTF-8"></script>
    <script src="/library/jquery.min.js"></script>
    <link href="/css/index.css" rel="stylesheet"></link>
  </head>
  <body>
    <div class="logo_cnt">
    <img class="logomain" src="/images/logojuego.png" alt="logo"></img>
  </div>
    <div class="btn_grp">
      <!--<a href="/gmaq"><button>Solo</button></a><br>-->
      <a href="/gmusr"><button>Versus</button></a><br>
      <a href="/rank"><button>Ranking</button></a><br>
      <a href="/about"><button>About</button></a>
    </div>
  </body>
</html>
