<!DOCTYPE html>
<html>
  <head>
    <%include ../partials/head %>
    <script src="/socket.io/socket.io.js" charset="UTF-8"></script>
    <script src="/library/jquery.min.js"></script>
    <script src="/js/rank/rank.js" charset="UTF-8"></script>
    <script src="/library/snap.svg-min.js" charset="UTF-8"></script>
    <link href="/css/rank.css" rel="stylesheet"></link>
  </head>
  <body>

    <div class="title">
      <img class="dec" src="/images/misil.png"></img>
      <h1>Ranking</h1>
      <img class="dec2" src="/images/misil.png"></img>
    </div>

    <div id="resultados"></div>
  </body>
</html>
